$colorBg: #f8f7f7;

@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,300;0,7..72,400;1,7..72,300&family=Marck+Script&family=Oswald:wght@300;600&display=swap');


.pagina-Menu{
    img {
        width: 50px;
        margin: auto;
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
      } 
    }

.page {
    background-color: #f8f7f7;
    display: flex;
    flex-direction: column;   
    border-radius: 7px;
    padding: 80px 80px;
    background-color: $colorBg;
    gap: 25px;
    margin-left: 400px;
    margin-right: 400px;
        h1 {
            display: flex;
            justify-content: center;
            line-height: 50px; 
            font-family: 'Literata', serif;
          
        }
}

.btn-1{
    background-color: black;
    color: #fff;
    font-size: 16px;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    padding: 16px 42px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.btn-1:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,.2) ;

}
.btn-2{
    background-color: black;
    color: #fff;
    font-size: 16px;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    padding: 16px 42px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.btn-2:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,.2) ;

}
@media (max-width: 600px) {

    .page{
    border-radius: 7px;
    padding: 100px 100px;
    gap: 25px;
    margin-left: 100px;
    margin-right: 100px;
    }
        h1{
        font-size: 16px;
       }
}
@media (max-width: 768px) {

    .page{
    border-radius: 7px;
    padding: 50px 50px;
    gap: 25px;
    margin-left: 50px;
    margin-right: 50px;
    }
      
}